.slider-area > div > div {
  position: relative;
}

.slider-area {
  margin-bottom: 20px;
}
.slider-content {
  position: absolute;
  top: 50px;
  left: 30px;
}
.slider-content > h5 {
  font-weight: 400;
  line-height: 18px;
  text-transform: capitalize;
  max-width: 280px;
  margin-bottom: 10px;
  color: #242424;
}
.slider-content > h5 > span {
  color: #e80f0f;
}
.slider-content > h2 {
  font-size: 35px;
  font-weight: 400;
  text-transform: capitalize;
  max-width: 310px;
  margin-bottom: 20px;
  color: #242424;
  margin-top: 30px;
}
.slider-content > h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 64px;
  margin-top: 20px;
  color: #242424;
  position: absolute;
  left: 30px;
}
.slider-content > h3 > span {
  font-size: 30px;
  color: #e80f0f;
  margin-left: 20px;
}

.slider-content .slide-btn {
  position: relative;
  left: -200px;
  top: 100px;
}

.slider-content .slide-btn a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
}

.slider-area {
  position: relative;
}

.slider-area .carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(-50%);
}

.slider-area .carousel-indicators button {
  background-color: #242424;
}

.slider-area .carousel-inner ~ a {
  display: none;
}

@media (max-width: 479px) {
  .slider-area {
    box-shadow: 4px 4px 4px -3px #808080, -4px -4px 4px -3px #808080;
  }
  .slider-content {
    position: initial;
    padding: 20px;
  }
  .slider-content > h2 {
    font-size: 24px;
    position: initial;
    text-align: center;
    margin: 0;
    padding: 5px 20px;
  }
  .slider-content > h3 {
    font-size: 16px;
    text-align: center;
    position: initial;
    margin: 0;
    padding: 5px 10px;
  }
  .slider-content > h3 > span {
    font-size: 22px;
  }

  .slider-area .carousel-indicators {
    position: absolute;
    bottom: -15px;
    width: 200px;
    left: 35%;
  }
  .slider-content .slide-btn {
    position: initial;
    margin: 5px;
  }
}

@media (min-width: 480px) {
  .slider-content {
    top: 20px;
    padding: 0;
    margin: 0;
    left: 0;
    font-family: "Rubik", sans-serif;
  }

  .slider-content > h5 {
    font-size: 17px;
    left: 10px;
  }
  .slider-content > h2 {
    font-size: 20px;
    max-width: 200px;
    font-weight: bold;
    left: 10px;
  }
  .slider-content > h3 {
    font-size: 16px;
    left: 10px;
    top: 100px;
  }
  .slider-content > h3 > span {
    font-size: 18px;
  }
  .slider-content .slide-btn {
    margin: 5px;
    left: -110px;
    top: 40px;
  }
  .slide-btn a {
    width: 130px;
    height: 50px;
    border-radius: 5px;
  }
}

@media (min-width: 576px) {
  .slider-content {
    top: 30px;
    left: 10px;
  }

  .slider-content > h5 {
    font-size: 17px;
    left: 20px;
  }
  .slider-content > h2 {
    font-size: 20px;
    max-width: 200px;
    font-weight: bold;
    left: 10px;
  }
  .slider-content > h3 {
    font-size: 16px;
    left: 10px;
    top: 110px;
  }
  .slider-content > h3 > span {
    font-size: 18px;
  }
  .slider-content .slide-btn {
    margin: 5px;
    left: -110px;
    top: 60px;
  }
  .slide-btn a {
    width: 130px;
    height: 50px;
    border-radius: 5px;
  }
}

@media (min-width: 768px) {
  .slider-content img {
    min-height: 389px;
  }
  .slider-content {
    padding-left: 40px;
    top: 40px;
  }
  .slider-content > h5 {
    max-width: 250px;
  }
  .slider-content > h2 {
    font-size: 26px;
    max-width: 220px;
  }
  .slider-content > h3 {
    top: 170px;
    left: 40px;
  }
  .slider-content > h3 > span {
    font-size: 24px;
  }
  .slider-content .slide-btn {
    position: absolute;
    top: 250px;
    left: 50px;
  }
}

@media (min-width: 991px) {
  .slider-area > div > div {
    position: relative;
  }
  .slider-content {
    position: absolute;
    top: 50px;
    left: 20px;
    font-family: "Rubik", Sans-serif;
  }
  .slider-content > h5 {
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
    max-width: 280px;
    margin-bottom: 10px;
    color: #242424;
  }
  .slider-content > h5 > span {
    color: #e80f0f;
  }
  .slider-content > h2 {
    font-size: 35px;
    font-weight: 400;
    text-transform: capitalize;
    max-width: 300px;
    margin-bottom: 20px;
    color: #242424;
    margin-top: 30px;
  }
  .slider-content > h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 64px;
    margin-top: 20px;
    color: #242424;
    position: absolute;
    left: 30px;
  }
  .slider-content > h3 > span {
    font-size: 30px;
    color: #e80f0f;
    margin-left: 20px;
  }

  .slider-content .slide-btn {
    position: relative;
    left: -200px;
    top: 100px;
  }

  .slider-content .slide-btn a {
    text-decoration: none;
    font-family: "Rubik", sans-serif;
    width: 200px;
  }

  .slider-area .carousel-indicators {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(-50%);
  }
}
