@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pppvhm');
  src:  url('fonts/icomoon.eot?pppvhm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pppvhm') format('truetype'),
    url('fonts/icomoon.woff?pppvhm') format('woff'),
    url('fonts/icomoon.svg?pppvhm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-o:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-shopping-basket:before {
  content: "\e904";
}
.icon-phone1:before {
  content: "\e905";
}
.icon-log-in:before {
  content: "\e906";
}
.icon-cart:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e909";
}
.icon-th:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\e90b";
}
.icon-minus:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e90e";
}
.icon-youtube-play:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e910";
}
.icon-google:before {
  content: "\e911";
}
.icon-eye:before {
  content: "\e916";
}
.icon-star:before {
  content: "\e915";
}
.icon-envelope-o:before {
  content: "\e914";
}
.icon-phone:before {
  content: "\e912";
}
.icon-fax:before {
  content: "\e913";
}
.icon-check:before {
  content: "\e903";
}
